# Dossiers IDE
.idea/

# Environnement virtuel
venv/
__pycache__/
*.pyc
src/pages/emails/
# Fichiers de config perso
*.env
# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

app/data/dataset_fr_en.csv
app/data/full_merged_dataset_fr_en_spam.csv
app/data/*.csv
app/model/model_prod/*.keras
model/prod/*.pkl
data/user_feedbacks.csv
logs/
*.log

# Gardez seulement les fichiers essentiels
!app/data/dataset_sample.csv
!app/data/.gitkeep
!model/prod/.gitkeep

