fastapi==0.68.1
uvicorn==0.15.0
tensorflow==2.19.0
python-multipart
scikit-learn
pandas
nltk
langdetect

# Ajout pour la visualisation et le réentraînement
matplotlib==3.8.2
seaborn==0.12.2

# Pour une installation plus légère (optionnel)
# matplotlib==3.8.2 --no-deps